<!DOCTYPE html>
<html lang="pt-br">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>{% block title %}Caça-Casos RJ{% endblock %}</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Isso conecta o CSS -->
         <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
     </head>
<body>
    <header>
        <h1>Caça-Casos RJ - Proteja seus Direitos como Consumidor</h1>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a> |
                <a href="{{ url_for('logout') }}">Sair</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a> |
                <a href="{{ url_for('register') }}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>